.container {
    display: flex;
}

.imgcontainer {
    flex: 33%;
}

.scratch {
    display: none;
}

.palette-checkbox span::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid;
    background-color: var(--checked-color);
    margin: 1px;
    opacity: 0.5;   /* when unchecked */
    box-sizing: border-box; /* to ensure 'checked' border doesn't cause re-layout */
}

.palette-checkbox span::after {
    width: 20px;
    height: 20px;
}

.hidden-checkbox {
    opacity: 0;
    /*z-index: -1;*/
    position: absolute;
  }

  .palette-checkbox input[type="checkbox"]:checked + span::before {
      opacity: 1.0;
  }

.bom-container {
    clear: both;
}

.instruction-container {
    clear: both;
}

.pencolor-radio span::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid;
    background-color: var(--checked-color);
    margin: 1px;
    box-sizing: border-box; /* to ensure 'checked' border doesn't cause re-layout */
}

.pencolor-radio input[type="radio"]:checked + span::before {
    border: 2px solid black;
}

.pencolor-radio input[type="radio"]:disabled + span::before {
    opacity: 0.5;
}

#bricklist > div {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
}
#bricklist > div > div > ul {
    margin-top: 5px;
    padding-inline-start: 50px;
    margin-block-end: 2em;
}
.bomcolor-box {
    width: 24px;
    height: 24px;
    border: 1px solid;
    background-color: var(--color);
    margin-right: 0.5em;
    box-sizing: border-box; /* for compatibility with .palette-checkbox */
    float: left;
}
